<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Salesforce API Connector for WordPress : A WordPress plugin that connects your SalesForce organization to you site, enabling developers to make REST API calls">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="javascripts/main.js"></script>

    <title>Salesforce API Connector for WordPress</title>
  </head>

  <body>