/******************************************************************
Stylesheet: STANDARD MOBILE NAVIGATION
******************************************************************/
.mobile{ display: block; }
.full{ display: none; }

#mobile-menu{
	.inner-mobile-menu{
		$height: 55px;
		$width: 46px;
		width: 100%;
		min-width: 320px;
		height: $height;
		background-color: $primary;
		.mobile-menu-header{
			height: 100%;
			overflow: hidden;
			ul.icons{
				margin: 0px;
				height: 100%;
				padding: 0px;
				li{
					float: left;
					width: 50px;
					height: 100%;
					display: block;
					cursor: pointer;
					list-style-type: none;
					div{position:absolute;height:$height;width:$width;}
					&:hover,&:active,&.open-close{
						background-color: $primary-dk;
					}
					&.menu-icon div{
						background: url(/images/mobile-icon.png) 3px 8px no-repeat;
					}
				}
			}
		}
		.mobile-menu-content{
			position: absolute;
			z-index: 9999;
			width: 100%;

			#mobile{
				padding: 0px;
				li{
					a{
						display: block;
						letter-spacing: 1px;
						text-decoration: none;
						background-color: $primary-dk;
						padding: 15px 10px;
						color: $white;
						border-bottom: 2px solid $primary-md;
						&:hover,&:active{
							background-color: $primary-lt;
						}
					}
				}
			}

			#mobile{display:none;}
			.mobile.open-close {display: block;}
		}
	}
}